/* CSS ~ Travel Guide
Property of Elizabeth Cozart */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #ffa500;
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
}

/* Highlight code ~ w3schools */

/* Code for Firefox */
::-moz-selection {
	color: #fff;
	background: #ffa500;
}

::selection {
	color: #fff;
	background: #ffa500;
}

/* Index Page */
#index-header-title {
	text-shadow: 1px 1px #000;
	margin: 20px;
	color: #fff;
	font-family: 'Satisfy', cursive;
	font-size: 40px;
}

#index-content {
	padding: 15px;
	background-color: #ffa500;
}

#main-heading {
	text-shadow: 1px 1px #000;
	color: #fff;
	font-family: 'Satisfy', cursive;
	font-size: 40px;
}

#secondary-heading {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	margin: 5px 0 30px 0;
	color: #fff;
	text-shadow: 1px 1px #000;
	padding: 3px;
}

#countries {
	width: auto;
	height: auto;
}

#countries img {
	width: 110px;
	height: auto;
	padding: 5px;
	display: block;
	background-color: #000;
	border: 2px solid #fff;
}

#countries figure {
	display: inline-block;
	width: auto;
	height: auto;
}

#countries img {
	height: 110px;
	width: 110px;
}

#countries figcaption {
	display: block;
	margin: 15px auto;
	background-color: #fff;
	border: 2px solid #000;
	width: auto;
	height: auto;
	padding: 5px;
}

/* Travel pages */
#header {
	color: #fff;
	width: 100%;
}

#travel-header-title, #travel-header-title a {
	margin: 10px;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	text-shadow: 1px 1px #000;
}

#nav {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px;
	margin: auto;
}

#nav a {
	display: inline-block;
	background-color: #000;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	width: 110px;
	height: auto;
	padding: 10px;
	margin-left: 15px;
}

#travel-content {
	margin: 20px;
	padding: 15px;
	background-color: #fff;
	border: 2px solid #000;
}

#travel-heading {
	margin: 25px auto;
	text-shadow: 1px 1px #000;
	color: #ffa500;
	font-family: 'Satisfy', cursive;
	font-size: 40px;
}

/* Columns & rows for scenic pictures ~ w3schools */
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.column img {
	height: 100%;
	width: 100%;
}

.column figcaption {
	padding: 15px;
	font-weight: bold;
}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Responsive codes */

/* Small devices */
@media only screen and (max-width: 767px) {
	#travel-content {
		margin-top: 0;
	}
	#nav a {
		display: block;
		margin: 0 auto 20px auto;
	}
	.column, .column img {
		display: block;
		height: 100%;
		width: 100%;
	}
}

/* Medium devices */
@media only screen and (min-width: 800px) {
	#index-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

/* Large devices */
@media only screen and (min-width: 992px) {
	#index-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
	#index-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
